




/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* The Login Card Box */
.login-container {
    background: #ffffff;
    padding: 40px;
   margin-top:160px;    
}

h2 {
    text-align: center;
    margin-bottom: 24px;
    color: #333;
}

/* Form Groups */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
}

.input-group input:focus {
    border-color: #007bff;
}



.login-btn {
   align-items: center;    
  wkdth:30%;

 margin-left:60px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

.login-btn:hover {
    background-color: #0056b3;
}
    
